/*标题栏*/
.tab-1{
	border-bottom: 1px solid #ccc;
}
.big-title{
	width: 100%;
	background-color: #FFB93A;
	font-family: "微软雅黑";
	line-height: 1.6;
	color:#fff;
	text-align: center;
}
/*容器*/
#container{
	max-width: 1000px;
	min-width: 780px;
	margin: 0 auto;
}
.sub-title{
	font-family: "微软雅黑";
	line-height: 2;
}
/*添加待办*/
#todo-add{
	width: 100%;
	font-family: "微软雅黑";
	line-height: 1.6;
	font-size: 18px;
	text-indent: 1em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding: 5px;
}
/*状态栏*/
#todo-remain,.todo-class{
	display: inline-block;
	margin-top: 10px;
}
#todo-remain{
	min-width: 720px; 
	color: #FFB93A;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	line-height: 2;
}
.todo-class ul li{
	width: 60px;
	text-align: center;
	display: inline-block;
	margin-right: 20px;
	border: 1px solid rgba(0,0,0,0);
}
.todo-class ul li.active{
	border: 1px solid #FFB93A;
}
.todo-class ul li a{
	font-family: "微软雅黑";
	line-height: 2;
	font-size: 18px;
}
/*待办列表*/
.todo-item{
	border:1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}
.item-title{
	display: inline-block;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 1.6;
	width: calc(100% - 40px);
	vertical-align: top;
}
.done{
	text-decoration: line-through;
	color: #ccc;
}
.del{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 1.6;
}
.editing{
	display: inline-block;
}
.edited{
	display: none;
}
#todo-edit{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 1.6;
	width: calc(100% - 40px);
	vertical-align: top; 
}