<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>计划列表</title>
	<script src="https://cdn.bootcss.com/vue/2.5.17/vue.js"></script>
	<link rel="stylesheet" href="style1.css">
	<script src="store.js"></script>
</head>
<body>
	<div class="page-top">
        <div class="page-content wrap">
			<h2>计划清单</h2>
		</div>
	</div>
	<div class="main wrap">
		<h3>添加任务：</h3>
		<input type="text" placeholder="输入计划，回车确认" v-model="todo" @keyup.enter = "addTodo" class="task-input">
		<div class="task-count clearFix">
			<span class="todo-num fl">{{noCheckLength}}个未完成项目</span>
			<ul class="fr clearFix">
				<li class="fl"><a href="#all" :class="{active:(visibility=='all') || !visibility}">所有计划</a></li>
				<li class="fl"><a href="#finished" :class="{active:visibility=='finished'}">已完成</a></li>
				<li class="fl"><a href="#unfinished" :class="{active:visibility=='unfinished'}">未完成</a></li>
			</ul>
		</div>
		<div class="tasks">
			<h3>任务列表：</h3>
			<span v-show="!list.length" class="no-task-tip">请添加待办事项。</span>
			<ul v-show="list.length" class="todo-list">
				<li v-for="item in filterList" class="todo clearFix" :class="{completed: item.isChecked,editing: item === editorTodos}">
					<div class="view">
						<input type="checkbox" name="" id="" v-model="item.isChecked">
						<label for=""><a href="avascript:;"  @dblclick="edtorTodo(item)">{{ item.title }}</a></label>
						<a href="javascript:;" @click="delTodo(item)" class="fr">×</a>
					</div>
					<input @blur="edtorTodoed(item)" @keyup.13="edtorTodoed(item)" @keyup.esc="cancelTodo(item)" v-focus="editorTodos === item" type="text" class="edit" v-model="item.title" />
				</li>
			</ul>
		</div>
	</div>
</body>
</html>