*{margin: 0;padding: 0}
li{list-style: none;}
a{text-decoration: none;color: #333;}
img {border: none;display: block;}
.clearFix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}
.clearFix{zoom: 1}
.fl{float: left;}
.fr{float: right;}
.wrap{
    width: 980px;
    margin: 0 auto;
}
/**************************/
.page-top{
	background-color: #e8593c;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
h3{
	line-height: 40px;
}
.task-input{
	width: 100%;
	line-height: 40px;
	margin:10px 0 ;
	text-indent: 1em;
}
.task-count{
	height: 40px;
	line-height: 40px;
}
.todo-num{
	color: #e8593c;
	margin-left: 20px;
}
.task-count li{
	margin-right: 20px;
}
.task-count a{
	padding: 0 10px;
	border: 1px solid rgba(0,0,0,0);
}
.task-count a.active{
	border: 1px solid #e8593c;
}
.no-task-tip{
	color: #999;
	margin-left: 20px;
}
.todo{
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	border: 1px solid #e8593c;
	padding: 0 20px;
	line-height: 40px;
	margin-bottom: 10px;
	position: relative;
}
.todo a{
	font-size: 20px;
}
.todo input[type='checkbox']{
	width: 16px;
	height: 16px;
	vertical-align: baseline;
}
.todo-list .edit{
	position: absolute;
	left: -1px;
	top: -1px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	display: none;
	font-size: 20px;
	text-indent: 40px;
}
.todo-list .editing .edit{
	display: block;
}
.todo-list .completed label a{
	text-decoration: line-through;
	color: #999;
}